@import "grid";
@import "align";

// FONT-SIZE
$fs: 16px;

// COLORES
$colTwitter: #00749E;
$colLinkedin: #0071AD;
$colFace: #365899;
$verdePlanta: #94B30D;
$verdeKhan: #9DB63B;
$negroCode: #282C34;
$font-color: #444;
$negroGris: #505868;
$links: #1B95E0;

// FUENTES
$font-general: 'Lato', sans-serif;
$font-titulos: 'Orbitron', sans-serif;

a{
    text-decoration: none;
    cursor: pointer;
    color: $links;
}
html{
    font-size: 16px;
    font-family: $font-general;
    color: $font-color;
}
body {
    margin: 0;
    padding: 0;
}
h1, h2, h3,h4,h5,h6{
    font-family: $font-titulos !important;
}
.clear{
    clear: both;
}

// ******* MOBILE *******
// MAIN NAV BAR
.main-nav {
    overflow: hidden;
    background: $verdeKhan;
    padding: 0;
    .logo {
        padding: 0;
        h1 {
            text-align: center;
            padding: .8rem .5rem .5rem .5rem;
            font-size: 1.5rem;
            margin: 0;
            a {
                overflow: hidden;
            }

        }
    }

    a {
        color: $negroCode;
    }

}
.icon {
    padding: 0;
    overflow: hidden;

}
[class*="icon-"] {
    font-size: 1.5rem;
    text-align: center;
    padding: .5rem;
    &:hover {
        background: $negroCode;
        color: $verdeKhan;
    }


}


// HEADER TITLE && IMAGE OF FRONT END
.header-title {
    background-image: url('../img/code2.jpeg');
    background-size: cover;
    height: 200px;
    h2 {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        color: white;
        padding: 97.5px 0;
        span {
            color: $verdeKhan;
        }

    }
}


// LIST OF CONTENT OF DE PAGE
.content-options {
    padding: 1rem;
    overflow: hidden;
    .cont-opt-box {
        text-align: center;
        border: 1px solid $negroCode;
        border-radius: 6px / $fs + rem;
        margin: 1%;
        margin-left: 0;
    }
    .col-4 {
        width: 32.33%;
    }
}

// ARTICLES PRE-VIEW

.articles {
    padding: 1rem;
    .article-box {
        padding: 1rem;
        border: 1px dotted $negroGris;
        overflow: hidden;
        .date {

            p {
                margin: 0 0 1rem 0;
                border-bottom: 1px dotted $negroGris;
            }
        }
        .article-img {
            width: 80%;
            margin: 0 auto;
            img {
                width: 100%;

                border-radius: 6px;
            }
        }
        .article-content {

            .article-title {
                h2 {
                    font-size: 1.2rem;
                    margin: 1rem;
                }
                p a {
                    color: gray;
                }
            }
        }
    }
}

.contact {
    background: $verdeKhan;
    padding: 1rem;
    text-align: center;
    p {
        color: $negroCode;
        a {
            color: $negroCode;
            &:hover {
                color: $negroGris;
            }
        }
    }
    .social {
        a {
            color: $negroCode;
            &:hover {
                color: $negroGris;
            }
        }
    }
}


// ******** TABLET *******




// *******  DESKTOP ******
